$white: #ffffff;
$black: #030303;

// Font Sizing
$h0: 96px;

$h1: 64px;
$mobile-h1: 40px;

$h2: 48px;
$mobile-h2: 32px;

$h3: 32px;
$mobile-h3: 24px;

$h4: 24px;
$mobile-h4: 18px;

$h5: 18px;
$mobile-h5: 14px;

$text: 16px;
$mobile-text: 14px;

$small-tag: 14px;
$mobile-small-tag: 12px;

$tagline: 16px;
$mobile-tagline: 14px;

$small-text: 8px;
$mobile-small-text: 6px;
